*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.extranal_cs{
    height: 401px;
}
.card-img-top{
    width: 100%;
    height: 300px;
    object-fit: contain;
}
body {
    overflow-x: hidden; /* Hide scrollbars */
  }


